.container {
  width: 100%;
  height: 63px;
  margin: 0;
  padding: 0;
  display: flex;
  box-shadow: 0 1px rgba(142, 139, 135, 0.2);
  position: relative;
  a,
  a:hover,
  a:focus {
    color: var(--color);
    text-decoration: none;
  }
}

.profile {
  display: flex;
  align-items: center;
}

.profileContent {
  margin-left: 10px;
  p {
    display: block;
    line-height: 1;
  }
}
.name {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}

.description {
  margin: 9px 0 0 0;
  font-size: 13px;
}
